<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">UPTC</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/tipo-ejercicio">Tipo Ejercicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/ejercicio">Ejercicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/parte-cuerpo">Parte Cuerpo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/musculo-ejercicio">Musculo Ejercicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/especialista">Especialista</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/registro">Registro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/grupo-deportivo">Grupo Deportivo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/parte-cuerpo">Rutina</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>